*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f7fb;
color:#222;
}

.login-page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{
background:white;
width:350px;
padding:30px;
border-radius:10px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.logo {
  width: 80px;
  margin-bottom: 15px;
  border-radius: 12px; 
}

.login-box input{
width:100%;
padding:10px;
margin:10px 0;
}

.login-box button{
width:100%;
padding:10px;
border:none;
background:#2563eb;
color:white;
cursor:pointer;
margin-top:10px;
}

.show-password{
display:flex;
align-items:center;
gap:10px;
}

#mainPage{
display:none;
}

nav{
background:#478ce8;
color:white;
padding:15px 30px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav button{
padding:10px 15px;
border:none;
cursor:pointer;
margin-left:10px;
}

.banner-box{
background:linear-gradient(135deg,#37accf,#253954);
color:white;
text-align:center;
padding:60px 20px;
}

.banner-box h1{
font-size:48px;
margin-bottom:10px;
}

.banner-box p{
font-size:18px;
}

.summary-container{
display:flex;
gap:20px;
padding:20px;
}

.card{
flex:1;
padding:20px;
border-radius:10px;
color:white;
transition:0.3s;
}

.card:hover{
transform:scale(1.03);
}

.income-card{
background:#b182d1;
}

.expense-card{
background:rgb(190, 100, 139);
}

.balance-card{
background:#45e994;
}

.form-box{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.form-box input,
.form-box select{
width:100%;
padding:10px;
margin:10px 0;
}

.form-box button{
width:100%;
padding:10px;
border:none;
background:#2563eb;
color:white;
cursor:pointer;
}

.radio-box{
    display: flex;
    gap: 15px;     
    margin: 15px 0;
    align-items: center;
}

.radio-box label{
    display: flex;
    align-items: center;
    gap: 5px;     
    cursor: pointer;
}

.checkbox-box label{
display:flex;
align-items:center;
gap:8px;
cursor:pointer;
}

.checkbox-box input{
width:16px;
height:16px;
cursor:pointer;
}

.toggle-btn{
margin:20px;
padding:10px 15px;
border:none;
background:#111;
color:white;
cursor:pointer;
}

#transactionList{
margin:20px;
}

.transaction{
background:white;
padding:15px;
margin-bottom:15px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.transaction:hover{
transform:scale(1.02);
}

.transaction button{
padding:8px 12px;
border:none;
cursor:pointer;
margin-top:10px;
color:white;
}

.edit-btn{
background:rgb(32, 110, 211);
}

.delete-btn{
background:rgba(141, 22, 22, 0.885);
}

.counter{
margin:20px;
}

.converter{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.converter input{
width:100%;
padding:10px;
margin:10px 0;
}

.converter button{
width:100%;
padding:10px;
border:none;
background:#2563eb;
color:white;
cursor:pointer;
}

footer{
background:#1e3a5f;
color:white;
text-align:center;
padding:20px;
margin-top:20px;
}

.dark{
background:#111;
color:white;
}

.dark .form-box,
.dark .transaction,
.dark .converter{
background:#1e1e1e;
color:white;
}

.dark input,
.dark select{
background:#333;
color:white;
border:1px solid #555;
}

@media(max-width:768px){

.summary-container{
flex-direction:column;
}

nav{
flex-direction:column;
gap:10px;
}

}